# Dex OIDC Configuration
DEX_ISSUER=https://dex.emmettlsc.com
DEX_CLIENT_ID=decentradocs

# TURN Server Configuration
TURN_SECRET=<put the real thing here, it can be found in the coturn conf file>
TURN_URL=turn.emmettlsc.com

# For local development:
# DEX_ISSUER=http://localhost:5556
# TURN_URL=localhost
